notes for tools/main.pdf
notes for tools/main.synctex.gz
notes for tools/main.thmjiu
.vscode/.DS_Store
bibliography/main.pdf
bibliography/main.thm
bibliography/main.synctex.gz
notes for tools/main.thm
.DS_Store
